@import 'tailwindcss';

@theme {
    --color-primary: hsl(3, 86%, 64%);
    --color-primary-darker: hsl(3, 71%, 56%);
    --color-primary-darkest: hsl(3, 77%, 44%);
    --color-dark-gray-200: hsl(226, 11%, 37%);
    --color-dark-gray-300: hsl(225, 23%, 24%);
    --color-dark-gray-400: hsl(226, 25%, 17%);
}

:root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400; */
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* tab-inactive #2f354b
    button-bg #1f2535
    button-active #f35b56
    button-hover #525767 
*/

/* Force scrollbar to always be visible to prevent layout shifts */
html {
    overflow-y: scroll;
}

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
